* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Myriad Pro";
  background: #f3f3f3;
}

button,
input,
textarea,
select,
option {
  font-family: "Myriad Pro";
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 7fr;
}
aside,
main {
  height: 100vh;
}
aside,
nav {
  background: #005952;
}
.btn {
  border: none;
}
.green-txt-1 {
  color: #054a48;
}
.green-txt-2 {
  color: #066;
}
.sm-txt-1 {
  font-size: 14px;
}
nav {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.logo-img {
  padding: 10px 30px;
  width: 90%;
}
.nav-links {
  margin-top: 50px;
  list-style: none;
}

details .nav-link {
  padding-left: 25px;
}
.nav-link a,
summary,
.nav-link {
  padding: 15px;
  cursor: pointer;
  font-size: 21px;
  color: #fff;
}
details > summary {
  list-style: none;
}
summary {
  padding-left: 30px;
}
details > summary::-webkit-details-marker {
  display: none;
}
summary:hover,
.nav-link:hover {
  background: #0b6f67;
}

.nav-btns {
  padding: 25px;
  margin-top: 50px;
}
.sm-txt {
  color: #fff;
  font-style: italic;
  font-size: 15px;
  margin-left: 5px;
}
.btn-group {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn-group .btn {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  width: 100%;
  background: #0b6f67;
  border: none;
  padding: 12px 0;
  margin: 5px 0;
}
nav .md-txt {
  font-size: 25px;
  font-style: italic;
  color: #3cc;
}
nav .line {
  margin: 0 25px;
  font-style: normal;
}
.center {
  padding: 15px;
}
.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.nav-info {
  display: flex;
}
.nav-btn {
  cursor: pointer;
  padding: 10px 30px;
  font-size: 21px;
  border: none;
  background: none;
}
.nav-btn.active,
.adding {
  background: #dddede;
}
.nav-info p {
  font-size: 21px;
}
.nav-info p:first-child {
  margin-right: 75px;
}
.adding {
  padding: 10px 30px;
  border-right: 10px solid #0b6f67;
}
.adding-info,
.adding-main {
  display: flex;
}
.adding-info {
  justify-content: space-between;
}
.adding-info span {
  color: #a9aaaa;
}
.right-side span {
  margin: 0 100px;
}
.adding-main {
  padding: 0 25px;
}
div.date {
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.month,
.day {
  font-size: 20px;
}
p.date {
  margin: -15px 0;
  font-size: 72px;
}
.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input {
  border: none;
  outline: none;
  padding: 12px;
  margin-right: 5px;
}
.input::placeholder,
select {
  color: #b1b1b1;
}
select.input {
  background: url(../img/arrowdown.svg), #fff;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: center;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 30px;
}
.input * {
  border: none;
}
option.input {
  color: #000;
}
.row {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.btn-green-2 {
  background-color: #005952;
  color: #fff;
}
.btn-cover {
  cursor: pointer;
  padding: 8px 36px;
  font-size: 20px;
}
.table-grid {
  margin-top: 15px;
  display: grid;
  gap: 15px;
  grid-template-columns: 3fr 2fr;
}
.table-left,
.table-right {
  padding: 10px 30px;
  background: #fff;
}
.table-nav,
.table-nav-left,
.table-nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-nav img {
  width: 1rem;
}
.table-nav-left p {
  font-size: 21px;
  margin-right: 20px;
}
.search-bar .input {
  width: 100%;
}
.search-bar .input::placeholder {
  color: #333;
}
.search-bar {
  width: 250px;
  display: flex;
  align-items: center;
  padding-right: 15px;
  border: 1px solid #ddd;
}
.sm-txt-2 {
  color: #bbb;
  font-style: italic;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.start,
.end {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.start img,
.end img {
  margin: 0 1rem;
}

.start-end {
  position: relative;
  z-index: 2;
  background: transparent;
  font-size: 16px;
  color: #333;
  outline: none;
  padding: 6px;
  border: none;
  border-bottom: 1px solid #ddd;
}
.date-picker {
  background: transparent;
  position: relative;
  float: left;
}
.date-picker img {
  z-index: 0;
  top: 10px;
  right: -10px;
  position: absolute;
}
